.container {
  width: 100%;
  padding: 0 0.75rem;
}

@media screen and (min-width: 1472px) {
  .container:not(.is-fluid):not(.is-max-desktop) {
    max-width: 1440px;
  }
}

.view {
  min-height: 10rem;
}